.search-section {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.google-logo {
  height: 125px;
  margin-bottom: 20px;
  margin-top: 25px;
}

.search-container {
  width: 100%;
  max-width: 584px;
  margin: 0 auto;
  color: #e8eaed;
}

.search-box {
  display: flex;
  align-items: center;
  background-color: #4d5157;
  color: #e8eaed;
  height: 47px;
  border-radius: 24px;
  padding: 5px 15px;
  margin-bottom: 30px;
  margin-top: -10px;
}
.cross-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 10px;
}
.bar {
  color: #47484a;
  font-size: 30px;
  margin-bottom: 6px;
}
.cross-icon-search {
  font-size: 22px;
}
input {
  color: white;
}

.horizontal-line {
  width: 550px;
  margin-left: 15px;
  height: 1px;
  background-color: #5f6367;
  margin-top: -30px;
  position: absolute;
  z-index: 2;
}
.suggestion-div {
  position: relative;
  background-color: #303134;
}

.search-box:hover {
  background-color: #f7f5f54f;
}
.suggestion-div:hover {
  background-color: #303134;
}

.searchIcon {
  width: 20px;
  height: 20px;
  color: #9aa0a6;
  margin-right: 10px;
}

.search-box input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  background: transparent;
}

.item-search-icon {
  color: #9aa0a6;
  font-size: 18px;
}
.trendIcon {
  color: #7c7c7c;
}

.suggestion-div {
  background-color: #303134;
  position: relative;
  z-index: 2;
  overflow-y: hidden;
}

.suggestion-item {
  display: flex;
  gap: 15px;
  padding: 7px 15px;
  color: #e8eaed;
  font-size: 15px;
  font-weight: 600;
}
.suggestion-item:hover {
  background-color: #76767660;
}

.search-box {
  width: 100%;
  max-width: 584px;
}

.suggestions {
  position: relative;
  background-color: #303134;
  border-radius: 24px;
  margin-top: -12%;
  padding-top: 45px;
  z-index: 1;
}

@media screen and (max-width: 550px) {
  .search-container {
    width: 90%;
  }

  .horizontal-line{
   visibility: hidden;
   z-index: -1;
  }
  .suggestions{
    margin-top: -20%;
  }
}
